main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  & > header {
    $height: 73px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: $height;
    max-height: $height;

    & > h1,
    & > p {
      margin: 0;
    }

    & > h1 {
      text-transform: uppercase;
    }
  }
}
