@import 'scss/mixins/variables';

div.body {
  width: 600px;

  & > div.flexContainer {
    display: flex;
    align-items: baseline;
    gap: 20px;

    & > *:first-child {
      flex: 1;
    }
  }
}

div.footer {
  justify-content: center;
}
