@import 'scss/mixins/variables';
@import 'scss/mixins/mixins';

.filterControls {
  $height: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;

  & > * {
    height: $height;
  }

  & > .filters {
    @include elementContainer;

    display: flex;
    align-items: center;
    gap: 20px;
    padding: 2px 20px;

    text-transform: uppercase;
    font-weight: 700;

    & > a {
      opacity: 0.3;
      cursor: pointer;

      text-decoration: none;

      transition: opacity $quick-transition;

      &.active,
      &:hover {
        opacity: 1;
      }
    }

    & > .buy {
      color: $success;
    }

    & > .sell {
      color: $danger;
    }
  }

  & > .tokenDropdown {
    min-width: 153px;
  }

  & > .currencyDropdown {
    min-width: 188px;
  }

  & > .sortByDropdown {
    min-width: 258px;
  }

  & > button.sortOrder,
  & > .pagination > button {
    width: $height;

    transition: background $quick-transition;

    &.active {
      background: $primary-light;
    }
  }

  & > .buttonsContainer {
    margin-left: auto;
  }
}
