.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > div.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    & > div {
      width: 100%;
    }
  }
}

div.footer {
  justify-content: center !important;
}
