@import 'scss/mixins/variables';

div.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  & > div {
    width: 100%;
  }
}

.maxPotentialOrderAmount fieldset {
  border-color: $white !important;
}

div.footer {
  justify-content: center;
}
