@import 'scss/mixins/variables';

div.input {
  // label
  & > label,
  // helper text
  & > p,
  // select input text
  & > div,
  // input text
  & > div > input,
  // input adornment text
  & > div > div > p {
    color: $font-color !important;
  }

  &.error {
    & > label,
    & > p {
      color: $danger !important;
    }

    & > div {
      & > fieldset {
        border-color: $danger !important;
      }
    }
  }

  & > div {
    & > input {
      &[disabled] {
        -webkit-text-fill-color: unset;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    & > fieldset {
      border-color: $border-color !important;
    }
  }
}
