@import 'scss/mixins/variables';

$chip-colors: (
  success: $success,
  error: $danger,
  info: $info,
  warning: $warning,
);

div.chipContainer {
  display: inline-block;

  & > div.chip {
    height: 30px;
    padding: 0 5px;

    &.withTooltip {
      cursor: help;
    }

    @each $type, $color in $chip-colors {
      &.#{$type} {
        & > svg {
          fill: $color;
        }

        & > span {
          color: $color;
        }
      }
    }
  }
}
