@import 'scss/mixins/variables';

.container {
  border: $border;
  border-radius: $border-radius-small;

  display: flex;
  align-items: center;

  height: 40px;
  padding: 2px 20px;

  z-index: 1001;
}
