@import 'scss/mixins/variables';

span.address {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;

  & > a.addressLink {
    text-decoration: underline;
    cursor: pointer;
    color: $white;

    &:hover {
      text-decoration: none;
    }

    &:active {
      color: $accent;
    }
  }
}
