@import 'scss/mixins/variables.scss';

li.linkContainer {
  display: flex;

  & > .sideBarLink {
    position: relative;

    width: 100%;
    padding: 10px 40px;
    // font-size: 20px;

    text-decoration: none;
    transition: background-color $quick-transition;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 5px;
      background-color: #d9d9d9;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform $quick-transition;
    }

    &.active,
    &:hover {
      background-color: rgba(217, 217, 217, 0.22);
    }

    &.active:before {
      transform: scaleX(1);
    }
  }
}
